<div class="login-page">
    <div class="log">
        <p class="title">Login</p>
        
        <div class="login-fields">
            <div>
                <label>Username</label><br>
                <input type="text" id="username" placeholder="Username" [(ngModel)]="user">
            </div>
            
            <div>
                <label>Password</label><br>
                <input type="password" id="password" placeholder="Password" [(ngModel)]="pass">
            </div>
        </div>
        <div class="submit-button-wrapper">
            <button class="submit-button" (click)="log()">Login</button>
        </div>
    </div>
</div>
